<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!--com.keeson.mapper.UserMapper 指向接口就完事-->
<mapper namespace="com.keeson.mapper.UserMapper">

    <resultMap id="UserResult" type="com.keeson.vo.User">
        <id    property="id"  column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="email" column="email"/>
    </resultMap>


    <select id="selectByUserId"  parameterType="com.keeson.vo.User"  resultMap="UserResult">
        select  *  from user
        <where>
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="name != null  and name != ''"> and name = #{name}</if>
            <if test="age != null  and age != ''"> and age = #{age}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
        </where>
    </select>


</mapper>
